<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822928535987-362gtkij0lrg2chm5v7n1kmb8263l519.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822928535987-362gtkij0lrg2chm5v7n1kmb8263l519</string>
	<key>API_KEY</key>
	<string>AIzaSyAQZ0g8Ljk2wWu3jFJbjlZLt6omHFrNXn8</string>
	<key>GCM_SENDER_ID</key>
	<string>822928535987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.owj.usedMarket</string>
	<key>PROJECT_ID</key>
	<string>used-market7777</string>
	<key>STORAGE_BUCKET</key>
	<string>used-market7777.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822928535987:ios:f50bf79add0f83be709bc6</string>
</dict>
</plist>